*{ 
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color:rgb(223, 177, 118);
}
/* navbar*/
html {
    
    background-image: url("photo/coffee.jpg"); 
    background-size: cover;
}

#body {
    max-width:80vw;
    margin-left:auto ;
    margin-right: auto;
    background-color: antiquewhite;
}
#nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-size: 20px;
 
    height: 60px;
    align-items: center;
}

#logo h1 {
    color: red;
    margin: 0 10px;
}

a {
    text-decoration:none;
}

li {
    list-style: none;
    margin: 5px 5px;
}

ul {
    display: flex;
    
}

#searchbar {
    width: 400px;
    padding:10px 5px ;
    border-radius: 10px;
    border: 1px solid black;
    text-transform: uppercase;
}
/* main content */
main div {
    width: 100%;
    height: 300px;
   /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    text-align: center; 
}

#info {
    width: 100%;
    height: 300px;
    background-image: url("photo/info.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#pic1 {
    position: relative;
    top: 8rem;
}
#info>h1{
    color: #e0e5d7;   
}
#details {
    display: flex;
    padding: 8%;
    font-size: 15px;
    background-image: url("photo/detail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#reviews {
    padding: 30px;
    background-image: url("photo/reviews.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
}
#reviews>h1 {
    color: #efb668;
}
#learn {
    position: relative;
    text-align: start;
    top: 70%;
    color: #000;
    font-size: 20px;
    padding: 2px;
    background-color: peru
    padding : 5px 10px;
    border-radius: 10px;
    border: none; 
    font-weight: 500; 
}
#reviews button {
    font-size: 20px;
    margin-top: 20px;
    padding: 2px;
    color: #000;
    background-color: rgb(20, 210, 127);
    padding: 5px 10px;
    border-radius: 10px;
    border: none; 
    font-weight: 500;
}

#offer {
    padding: 30px;
    justify-content: center;
    background-image: url("photo/offers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#offer>h1 {
    color: #fbf7f2;
    font-size: 50px;
}
#offer h2 {
    text-align: center;
    width: 80vh;
    height: 100px;
    margin-top: 40px;
    margin-left: 280px;
    padding: 35px;
    background-color:  gray;
}

/*FOOTER */
footer {
    height: 100px;
    
}
#connect {
    text-align: center;
    margin-top: 40px;
}

footer>p {
    text-align: center;
    font-size:12px ;
}

#icon {
    margin: 10px;
        text-align: center;
}
#icon>a :hover{
    color: #8f5757;
}
